@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #78c1f3;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: #ffffff;
  padding: 25px;
  width: 550px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Alert message above */
.alert-message {
  text-align: center;
  color: green;
  margin-bottom: 10px;
  min-height: 20px;
}

/* List comes above input */
.list-items {
  width: 100%;
  margin-bottom: 20px;
}

.list-items li {
  list-style: none;
  font-size: 18px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  margin-bottom: 10px;
  border-radius: 5px;
  opacity: 0;
  animation: new-item-animation 0.3s linear forwards;
}

.todo-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.todo-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
}

.todo-body input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 15px 0;
  font-size: 20px;
}

.todo-body img {
  cursor: pointer;
  border-radius: 45px;
  height: 55px;
  width: 55px;
  padding: 15px;
  background: #66D3FA;
}

.todo-controls {
  width: 25px;
  height: 25px;
  padding: 3px;
  margin-right: 5px;
}

/* New item animation */
@keyframes new-item-animation {
  from { opacity: 0; transform: translateY(-80px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Delete animation */
li.deleted-item {
  animation: removed-item-animation 1s forwards;
  transform-origin: 0% 100%;
}

@keyframes removed-item-animation {
  0% { opacity: 1; transform: rotateZ(0); }
  100% { opacity: 0; transform: translateY(600px) rotateZ(90deg); }
}

/* Hide alert message */
.toggleMe {
  animation: hideMe 5s forwards;
}
@keyframes hideMe {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
